.item{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(131, 127, 127, 0.775);
    color: rgba(0, 0, 0, 0.792);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 7px rgba(131, 127, 127, 0.775);
}

.isOnline {
    width: 15px;
    height: 15px;
    background-color: rgb(55, 255, 0);
    border-radius: 50%;
}

.isOnlineNone{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.avatar{

}

.name{

    font-size: 25px;
    font-weight: bold;

}